body {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    font-family: 'Anek Telugu', sans-serif;
    font-family: 'Antonio', sans-serif;
    font-family: 'Black Ops One', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Rubik Dirt', cursive;
    font-family: 'Secular One', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

/*HEADER STYLE*/
.primary-btn {
    height: 50px;
    width: 120px;
    background-color: #E55473;
    font-weight: 900;
    border: 0;
    color: #FFFFFF;
    border-radius: 7px;
}

.header-description {
    height: 506px;
    width: 708px;
    margin: 260px 0 0 80px;


}

.header-img {
    width: 600px;
    height: 700px;
}

.header-img {
    margin-top: 70px;
    margin-right: 80px;

}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #F1D1D7;


}

/*MAIN SECTION STYLES*/
.featured-flower {
    margin-top: 100px;
}

.feature-title {
    text-align: center;
}

.feature-des {
    text-align: center;
    margin-bottom: 50px;
}

.sample-flower {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.flower-sample1 {
    width: 300px;
    height: 450px;
    background-color: #F2DEE8;
    padding: 40px 40px 0 40px;



    border-radius: 200px 200px 0 0;

}

.flower-sample2 {
    width: 300px;
    height: 450px;
    background-color: #DAF0F1;
    padding: 40px 40px 0 40px;
    border-radius: 200px 200px 0 0;

}

.flower-sample3 {
    width: 300px;
    height: 450px;
    background-color: #E4ECDC;
    padding: 40px 40px 0 40px;

    border-radius: 200px 200px 0 0;

}

.img1 {
    width: 280px;
    height: 450px;
}

.img3 {
    width: 280px;
    height: 450px;
}

.samples-link {
    display: flex;
    justify-content: center;
    gap: 260px;
    margin-top: 10px;

}

.link-of-sample {
    color: black;
    font-weight: 500;
}

.hot-deals {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    background-color: #FDF6F8;
    padding: 70px;
}

.deal-des {
    width: 594px;
    height: 228px;

}

.text-center {
    text-align: center;
}

.center-button {
    display: flex;
    justify-content: center;
}

/*INSTAGRAM SECTION*/
.instadiv-1 {
    width: 300px;
    height: 300px;

}

.insta-divs {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 30px 20px 40px 20px;
}

.instagram {
    margin-top: 100px;

}

.word-wrap {
    word-wrap: break-word;
}

.latest-deals {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 200px;
    width: 1300px;
    height: 400px;
    background-image: url('../Rectangle\ 9.png');
    background-size: auto;
    margin-left: 100px;
    margin-bottom: 150px;



}

.input-h1 {
    font-size: 40px;
    text-align: center;

}

.input-h2 {
    font-size: 20px;
    text-align: center;

}

.input {
    width: 800px;
    height: 30px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    margin-right: 3px;
}

/*FOOTER STYLE*/
.pink {
    color: #E55473;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    background-color: black;
}

.footer-align {
    text-align: center;
    color: white;
}

* {
    margin: 0;
}

h1,
p,
h5 {
    margin-bottom: 20px;
}